body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    background-color: #f9f9f9;
    color: #333;
}

input, button, select, textarea {
    padding: 8px;
    margin: 4px 0;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    padding: 8px 16px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
    font-size: 0.9em;
}

th {
    background-color: #f2f2f2;
}

.copy-button {
    background-color: transparent;
    border: none;
    color: #4CAF50;
    cursor: pointer;
    font-size: 0.8em;
    padding: 2px;
}

.copy-button:hover {
    color: #388E3C;
}

.warning {
    color: red;
}

.costWithBonuses {
    font-size: 0.9em;
}

h1, h3 {
    color: #4CAF50;
}

.container {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-size: 0.9em;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tabs a {
    padding: 10px;
    text-decoration: none;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 3px 3px 0 0;
    margin-right: 2px;
}

.tabs a.active {
    background-color: #4CAF50;
    color: white;
}
