.container {
    margin-bottom: 20px;
}

.button-group {
    display: inline-block;
    margin-right: 10px;
}

.button-group button {
    padding: 8px 12px;
    border: 1px solid #4CAF50;
    background-color: white;
    color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 0.9em;
}

.button-group button.active {
    background-color: #4CAF50;
    color: white;
}

.button-group button:hover {
    background-color: #45a049;
    color: white;
}

.small-content table {
    font-size: 0.9em;
    width: 100%;
    border-collapse: collapse;
}

.small-content th, .small-content td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.small-content th {
    background-color: #f2f2f2;
}

.large-textarea {
    margin-top: 30px;
    position: relative;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
}

.textarea-wrapper textarea {
    width: calc(100% - 120px);
    font-size: 1.1em;
    padding: 10px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

.textarea-wrapper .copy-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    height: 100%;
    display: inline-block;
}

.textarea-wrapper .copy-button:hover {
    background-color: #45a049;
}

.warning {
    color: red;
    font-weight: bold;
}

/* Общие стили для кнопок копирования ссылок в таблице */
.copy-button {
    padding: 4px 8px;
    margin-left: 6px;
    font-size: 0.9em;
    border: 1px solid #4CAF50;
    background-color: white;
    color: #4CAF50;
    border-radius: 3px;
}

.copy-button:hover {
    background-color: #45a049;
    color: white;
}